/* Responsive Start For Mobile */
@media screen and (max-width:576px) {

    .gamer-container,
    .fv-container,
    .pi-container,
    .pg-container,
    .games-container {
        padding: 0 24px;
    }

    /* Start NAV Respon */
    .nav-container {
        flex-direction: column;
        padding: 10px;
        text-align: center;
        max-width: 576px;
        height: 260px;
    }

    .nav-item-container {
        flex-direction: column;
    }

    .nav-item-container a {

        margin: 1rem;
        color: #3C354F;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        text-align: center;
    }

    .follow-us-on {

        width: 210px;
        height: 30px;
        padding: 0px 0px 0px 0px;
    }

    /* Start Banner Respon */
    .banner-container {
        flex-direction: column-reverse;

    }

    .banner-text {
        width: 100%;
        padding: 20px 0 20px 0;
    }

    .banner-image {
        width: 100%;
        padding: 20px 0 20px 0;
    }

    .banner-image img {
        width: 75%;
        height: 25%;
        /* margin-bottom: 5px; */

    }

    .banner-item-list {

        padding: 0px 0px 0px 60px;
        font-size: 1rem;
    }

    .banner-title {

        font-size: 2rem;

    }

    .gorogue-button {
        font-size: 15px;
    }

    .signin-button {
        font-size: 1rem;
    }

    /* start Funny Video */
    .fv-header-title {
        font-size: 25px;
        font-weight: 700;
    }

    .fv-header-ptag {
        font-size: 12px;
    }

    .fv-featured {
        flex-direction: column;
        padding: 0 50px 0 10px;
    }

    .pi-ptag-title-header {
        font-size: 30px;
        /* font-weight: 700; */
    }

    .p-desc {
        /* color: #534C64; */
        font-size: 12px;
        /* font-weight: 400; */
    }

    .pi-title,
    .pi-img {
        width: 50%;
        text-align: center;
        margin: 0 40px;
    }

    /* End Funny Video */

    /* PI Start */
    .pi-featured {
        flex-direction: column;
        padding: 0 0 0 40px;
    }

    /* PI END */

    /* Carrer Start */
    .carrers-div {
        flex-direction: column;
    }

    .careers-div1,
    .carrers-div,
    .careers-container {
        padding: 0px;
    }

    /* Carrer End */

    /* Start Gamer Respon */
    .gamer-container {
        flex-direction: column;

    }

    .gamer-text {
        /* width: 100%; */
        width: 100%;
        text-align: center;
        padding: 50px 0 0 0;
        margin-bottom: 10px;

    }

    .gamer-title {
        text-align: center;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .gamer-para {
        color: #534C64;
        text-align: center;
        /* text-align: justify; */
        font-size: .9rem;
        font-weight: 400;
        margin-bottom: 10px;
        /* 166.667% */
    }

    .know-button {
        position: relative;
        right: 10px;

    }

    .purpose {

        text-align: center;
        ;
        /* 187.5% */
    }



    .gamer-image {
        width: 100%;

    }

    .gamer-image img {
        width: 450px;
        height: 350px;
        flex-shrink: 0;
    }

    .gamer-title {
        text-align: center;
        font-family: Work Sans;
        font-size: 48px;
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 20px;
    }

    .games-container {

        display: grid;
        /* display: grid; */
        grid-template-columns: repeat(3, 1fr);
        align-items: lef;
        text-align: left;
        justify-content: space-around;
        gap: 0px;
        margin-top: 0px;
    }

    .games-img img,
    .games-img span {
        width: 30px;
        font-size: 8px;
    }
    img.side-img-2 {
        position: absolute;
        left: -50px;
        height: 124px;
        width: 130px;
        bottom: -54px;
    }

    .footer-logo {

        /* display: flex; */
        align-items: center;
        padding: 20px 0 0 100px;
        /* justify-content: space-between; */
    }

    .footer-desc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin-top: 30px;
        padding: 0 0px 0 0px;
        gap: 20px;
        /* justify-content: space-between; */
        color: #FFF;
        /* text-align: center; */
        font-size: 18px;
        /* font-style: normal; */
        font-weight: 600;
    }
    .footer-descs {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0 0 0 0;
        gap: 20px;
        justify-content: space-between;
        
    }

}

/* End for Mobile */




/* Start For Tab */


@media screen and (min-width:576px) and (max-width:960px) {

    .nav-container {
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        max-width: 960px;
        flex-shrink: 0;
        margin: 0 auto;
    }

    .nav-logo {
        width: 40%;
    }

    .nav-item-container {
        width: 60%;
    }

    .nav-item-container a {
        margin-right: 1rem;
    }

    .follow-us-on {
        padding: 2px;
    }

    .banner-container {
        margin: 50px auto 0;
        max-width: 960px;
        min-height: 50px;
        display: flex;
    }

    .banner-text {
        width: 50%;
        text-align: center;
        padding: 0 0 0 20px;
    }

    .banner-image img {
        width: 70%;
        padding: 0 500px 0 0;
    }

    .banner-item-list {
        padding: 0px 0px 0px 60px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .span-goat {
        font-size: 1em;
    }

    .fv-featured {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .gamer-text {
        padding: 0 0 0 0;

    }

    img.side-img-2 {

        left: -10px;

    }

    .games-container {

        display: grid;
        /* display: grid; */
        grid-template-columns: repeat(4, 1fr);
        align-items: lef;
        text-align: left;
        justify-content: space-around;
        gap: 0px;
        margin-top: 0px;
    }
    .pg-button {
        padding: 15px 5px;
        
    }
    .footer-logo {

        /* display: flex; */
        align-items: center;
        padding: 20px 200px 0 250px;
        /* justify-content: space-between; */
    }

    .footer-desc {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        margin-top: 30px;
        padding: 0 0px 0 0px;
        gap: 20px;
        /* justify-content: space-between; */
        color: #FFF;
        /* text-align: center; */
        font-size: 18px;
        font-weight: 600;
    }
    .footer-descs {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 0 0 0 0;
        gap: 20px;
        justify-content: space-between;
        
    }
    

}