@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Nav Style Start */
.nav-container {
    /* padding: 20px 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    max-width: 1920px;
    height: 130px;
    flex-shrink: 0;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    width: 5.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 20px;
}

.nav-title {
    margin-left: 10px;
    text-align: center;
    font-size: 2.85rem;
    font-style: normal;
    font-weight: 700;
    /* color: #FF42A5; */
}

.span-nav-title {
    color: #FF42A5;
}

.nav-item-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;


}

.nav-item-container a {
    list-style: none;
    text-decoration: none;
    margin-right: 5rem;
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.follow-us-on {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0px 10px 30px;

}

.fa-youtube {
    width: 33.916px;
    height: 24px;
    flex-shrink: 0;
    color: red;
}

.fa-tiktok {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    text-shadow: 1px 1px 1px rgba(8, 255, 249, 1);
    /* border: 1px solid rgba(8, 255, 249, 1); */

}

/* Nav Style End */


/* Banner Style Start */
.banner-container {
    /* border: 1px solid tomato; */
    margin: 50px auto 0;
    max-width: 1920px;
    min-height: 50px;
    display: flex;

}

.banner-text {
    /* border: 2px solid orange; */
    width: 50%;
    text-align: center;
    padding: 150px 0 0 0;
    background-image: url(/images/Group_14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-blend-mode: overlay;
}

.banner-image {
    /* border: 2px solid orange; */
    width: 50%;
    /* height: auto; */
    text-align: center;
    /* margin: auto; */
    /* padding: 0px 0 0 0; */
}




.signin-button {
    color: #FFF;
    font-size: 20px;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    text-align: start;
}

.gorogue-button {
    color: #FFF;
    font-size: 20px;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    text-align: start;
    border: none;
}

.play i {
    color: red;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.no-download i {
    color: #FF42A5;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.supported i {
    background-color: white;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.span-goat {
    text-align: center;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-item-list li {
    list-style: none;
    margin-bottom: 2rem;
}

.banner-item-list {
    color: #534C64;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 0px 0px 300px;
}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
}


/* Banner Style End */


/* Gamer Style start */
.gamer-container {
    /* border: 1px solid tomato; */
    margin: 50px auto 0;
    max-width: 1920px;
    min-height: 50px;
    display: flex;
    text-align: right;

}

.gamer-text {
    width: 50%;
    text-align: center;
    padding: 150px 0 0 0;
    margin-bottom: 10px;

}

.gamer-image {
    width: 50%;
    text-align: center;
}

.gamer-image img {
    width: 868px;
    height: 489px;
    flex-shrink: 0;
}

.gamer-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.gamer-para {

    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    /* 166.667% */
}

.know-button {
    color: #FFF;
    font-size: 20px;
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    position: relative;
    right: -370px;
    margin-bottom: 10px;
}

.purpose {
    color: #534C64;
    text-align: right;
    font-weight: 500;
    font-size: 24px;
    line-height: 45px;
    /* 187.5% */
}

.span-purpose {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* Gamer End start */